# Konfigurace
DARK_MODE=0
UNITS=C
REFRESH_RATE=60
# Jazyk
TEXT_TEMPERATURE=Teplota
TEXT_HUMIDITY=Vlhkost
TEXT_PPM=PPM
TEXT_PRESSURE=Tlak
# Konfigurace Wifi a Casu
WIFI_SSID=Nazev Wifi
WIFI_PASSWORD="Tajne_Heslo
NTP_ADDRESS="time.windows.com
UTC_TIMEZONE=1
# MQTT Konfigurace
MQTT_ENABLED=1
MQTT_BROKER=192.168.50.37
MQTT_PORT=1883
MQTT_LOCATION=pokoj